server {
    listen 80;
    server_name 192.168.178.80;
    
    location / {
        root /usr/share/nginx/html;
    }

    location /shortener/ {
        proxy_pass http://${SHORTENER_HOST}:${SHORTENER_PORT}/;

        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;
    }
}
